
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.env
*.jpg
*.png
output/*.xlsx
static/temp_img.jpg
temp_img.jpg

# Model files
*.h5
*.pkl
# Virtual environment
venv/
env/
.tfenv/
*.env
# OS files
.DS_Store
Thumbs.db